In [2]:
import numpy as np
import pandas as pd

## Series

In [3]:
# Birçok veri yapısı için oluşturulabilir seriler

In [4]:
# Dictionary için: 
myDict = {"Ali":50, "Ayse":40, "Ahmet":30}
pd.Series(myDict) # Bu şekilde seriyi oluşturduk

Ali      50
Ayse     40
Ahmet    30
dtype: int64

In [5]:
# List
myAgeList = [50, 40, 30]
myNameList = ["Ali", "Ayse", "Ahmet"]

In [6]:
pd.Series(myAgeList)

0    50
1    40
2    30
dtype: int64

In [7]:
pd.Series(myAgeList, myNameList) # Bu şekilde eşle

Ali      50
Ayse     40
Ahmet    30
dtype: int64

In [9]:
# Daha doğru bir ifadeyle
pd.Series(data = myAgeList, index = myNameList)

Ali      50
Ayse     40
Ahmet    30
dtype: int64

In [10]:
myNumpyArray = np.array([50, 40, 30])

In [11]:
myNumpyArray

array([50, 40, 30])

In [13]:
pd.Series(myNumpyArray) # Bu şekilde numpy array'i dizi haline getirebiliriz

0    50
1    40
2    30
dtype: int32

In [14]:
# Bu şekilde indexlemek de mümkün
pd.Series(myNumpyArray, myNameList)

Ali      50
Ayse     40
Ahmet    30
dtype: int32

Farklı bir bakışla ilerleyecek olursak;

In [15]:
competitionResult1 = pd.Series([10, 5, 1], ["Ali", "Ayse", "Ahmet"])

In [16]:
competitionResult1

Ali      10
Ayse      5
Ahmet     1
dtype: int64

In [17]:
competitionResult2 = pd.Series([20,10,5], ["Ali", "Ayse", "Ahmet"])

In [18]:
competitionResult2

Ali      20
Ayse     10
Ahmet     5
dtype: int64

In [20]:
finalResult = competitionResult1 + competitionResult2 # Bu şekilde toplanabilir

In [21]:
finalResult

Ali      30
Ayse     15
Ahmet     6
dtype: int64

In [22]:
anotherSeries1 = pd.Series([40, 50, 60, 70], ["a", "b", "c", "d"])

In [25]:
anotherSeries2 = pd.Series([10, 5, 3, 1], ["a", "c", "f", "g"])

In [26]:
anotherSeries1

a    40
b    50
c    60
d    70
dtype: int64

In [27]:
anotherSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [28]:
result = anotherSeries1 + anotherSeries2

In [30]:
result # sadece aynı tipte olanları verecek

a    50.0
b     NaN
c    65.0
d     NaN
f     NaN
g     NaN
dtype: float64